streamlit==1.44.1
pandas==2.2.3
numpy==1.26.4
plotly==6.3.1
pdfplumber==0.11.7
keybert==0.9.0
sentence-transformers==5.0.0
scikit-learn==1.6.1
torch==2.4.1
spacy==3.4.1
blis==0.7.11
gunicorn==22.0.0
